*, *::before, *::after{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  @include main-font;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: none;
}

.container {
  max-width: 945px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.btn {
  @include btn;
}

.pannel {
  position: fixed;
  top: 90px;
  right: 50px;
  &__list {
    display: block;
  }
  &__item {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    &:hover {
      border: solid #fff 1px;
      transition: .3s;
    }
  }
  &__item:not(:last-child)
  {
    margin-bottom: 15px;
  }
  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.hamburger {
  display: none;
  width: rem(24px);
  height: rem(24px);
  margin-left: rem(30px);
  cursor: pointer;
  @include tablets {
    display: flex;
  }
  &-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: rem(20px);
    background-color: #2f3234;
    opacity: .98;
    margin-left: 0;
    cursor: auto;
    & .hamburger__toggle > span::after {
      top: 8px;
      transform: rotate(45deg);
      transition: .3s;
    }
    & .hamburger__toggle > span::before {
      transform: rotate(-45deg);
      transition: .3s;
    }
    & .hamburger__toggle > span {
      height: 0;
    }
    & .hamburger__toggle {
      align-self: flex-end;
      margin-top: rem(20px);
    }
    & .hamburger__menu {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-top: rem(140px);
      text-align: center;
      &-item:not(:last-child) {
        margin-bottom: rem(50px);
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #fff;
          bottom: rem(-30px);
          left: 50%;
        }
      }
    }
  }
  &__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: rem(24px);
    height: rem(24px);
    cursor: pointer;
    & > span, & > span::before, & > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
      transition: transform .3s;
    }
    & > span::before {
      content: "";
      top: 8px;
    }
    & > span::after {
      content: "";
      top: 16px;
    }
  }
  &__menu {
    display: none;
    &-item {
      position: relative;
    }
    &-link {
      color: #fff;
    }
  }
}