.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('/img/first-screen__texture.png') no-repeat center/cover, url('/img/first-screen__bg.png') no-repeat center/cover;
  @include tablets {
    min-height: 100vh;
    height: auto;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include tablets {
      min-height: 100vh;
      height: auto;
    }
    .logo {
      flex: 0.3 1 0;
      z-index: 10;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: rem(12px);
      .logotype {
        width: rem(92px);
        height: rem(69px);
      }
      &__list {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-content: center;
        margin-right: rem(15px);
      }
      &__item {
        position: relative;
        font-size: rem(13px);
        @include tablets {
          display: none;
        }
      }
      &__link {
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
  &__btn {
    @include tablets {
      display: block;
    }
    color: #fff;
  }
  &__promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include tablets {
      flex-direction: column;
    }
    &-img {
      flex: 1;
    }
    &-pic {
      width: 100%;
    }
    &-desc {
      flex: 1;
      margin-left: rem(10px);
      @include tablets {
        text-align: center;
        margin: rem(40px) 0;
        padding: 0 rem(25px);
      }
    }
    &-title1 {
      @include title-font;
      font-size: rem(72px);
      color: #f9b43b;
      @include mobile {
        font-size: rem(65px);
      }
    }
    &-title2 {
      @include subtitle-font;
      font-size: rem(65px);
      color: #ffffff;
      @include mobile {
        font-size: rem(54px);
      }
    }
  }
  &__control {
    align-self: center;
    padding-bottom: 40px;
  }
  &__arrow-scroll {
    width: rem(29px);
    height: rem(15px);
  }
}