.footer {
  background: url('/img/order__bg.jpg') no-repeat center center / cover;
  padding: rem(15px) 0;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    &-address {
      margin: 0 0 rem(10px) 0;
      font-size: 14px;
      color: #ffffff;
    }
    &-phone {
      display: flex;
      align-items: center;
      color: #e45028;
      font-size: rem(14px);
      font-weight: 700;
      @include mobile {
        margin-bottom: rem(18px); 
      }
    }
    @include mobile {
      align-items: center;
    }
  }
  &__phone-svg {
    margin-right: rem(5px);
    width: rem(12px);
    height: rem(11px);
  }
  &__socials {
    &-list {
      display: flex;
    }
    &-item {
      & + & {
        margin-left: rem(20px);
      }
    }
    &-icon {
      opacity: .3;
      width: rem(20px);
      height: rem(20px);
      &:hover {
        opacity: 1;
        transition: .2s;
      }
    }
  }
}