$item: menu__item;

@for $i from 1 to 4 {
  .#{$item}:nth-child(#{$i}) .menu__item-title::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/menu__item-bg#{$i}.jpg') no-repeat center center / cover;
    transform: rotate(180deg);
    z-index: -1;
  }
}

.menu {
  display: flex;
  height: 100vh;
  background: url('/img/menu__bg.jpg') no-repeat center center / cover;
  &__title {
    @include title-font;
    color: #ffffff;
    font-size: rem(72px);
    margin: rem(100px) 0 0 rem(80px);
    @include tablets {
      display: none;
    }
  }
  &__container {
    display: flex;
    margin-left: auto;
    height: 100%;
  }
  &__accordeon {
    display: flex;
  }
  &__item {
    display: flex;
    position: relative;
    &-title {
      display: flex;
      font-size: rem(40px);
      position: relative;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding: rem(40px) rem(20px);
      color: #ffffff;
      @include title-font;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.7);
        z-index: -1;
      }
    }
    @include mobile {
      &:not(.menu__item-active) {
        display: none;
      }
    }
    &-active .menu__desc {
      width: auto;
      overflow: hidden;
      max-width: rem(541px);
      padding: rem(62px) rem(25px);
      transition: width ease-in-out 3s;
    }
    &-active .menu__item-title {
      color: #f9b43b;
    }
  }
  &__desc {
    width: 0px;
    overflow: hidden;
    background-color: #2f3234;
    opacity: 0.93;
    color: #fff;
    line-height: 2;
    font-size: rem(14px);
    transition: width ease-in-out 1s;
  }
}