.slider {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background: url('/img/slider__bg.png') no-repeat center / cover;
  @include tablets {
    min-height: 100vh;
    height: auto;
  }
  &__inner {
    position: relative;
    display: flex;
    max-width: rem(1020px);
    margin: 0 auto;
    align-items: center;
    padding: 0 rem(15px);
    @include tablets {
      min-height: 100vh;
      height: auto;
      padding: rem(100px) rem(50px);
    }
    @include mobile {
      padding: rem(20px) rem(5px);
    }
  }
  &__btn-icon {
    width: rem(46px);
    height: rem(44px);
  }
  &__kkal {
    order: 3;
    margin-left: rem(50px);
    @include tablets {
      order: 2;
      margin-left: 0;
      margin-right: rem(50px);
    }
    @include mobile {
      position: absolute;
      top: rem(-50px);
      right: rem(-50px);
    }
    &-value {
      position: relative;
      @include title-font;
      color: #ffffff;
      font-size: rem(20px);
      opacity: 0.5;
      &::before {
        position: absolute;
        content: "";
        background-image: url('/img/svg/kkal.svg');
        width: rem(60px);
        height: rem(60px);
        display: block;
        top: rem(-28px);
        left: rem(-13px);
      }
      &::after {
        content: "ккал";
        display: block;
        position: absolute;
        left: rem(2px);
        top: rem(35px);
        font-size: rem(14px);
      }
    }
  }
  &__slide {
    position: relative;
    display: flex;
    align-items: center;
    @include tablets {
      flex-direction: column;
    }
    &-img {
      align-self: flex-start;
      width: 100%;
      order: 2;
      @include tablets {
        order: 3;
      }
    }
    &-kkal {
      opacity: 0.5;
      width: rem(60px);
      height: rem(60px);
      margin-left: rem(30px);
    }
    &-title {
      @include title-font;
      font-size: rem(72px);
      color: #ffffff;
      padding-top: rem(50px);
      line-height: 1;
      @include mobile {
        font-size: rem(50px);
      }
    }
    &-txt {
      font-size: rem(14px);
      color: #ffffff;
      line-height: 2;
      margin: rem(40px) 0 0 0;
    }
    &-order {
      display: flex;
    }
    &-price {
      color: #e35028;
    }
    &-btn {
      align-self: flex-end;
      color: #fff;
      margin-left: rem(30px);
    }
  }
  &__price-num {
    @include title-font;
    font-size: rem(72px);
  }
  &__price-txt {
    @include title-font;
    font-size: rem(30px);
  }
  &__img-block {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    @include tablets {
      justify-content: space-between;
    }
  }
  &__composition-btn {
    align-self: flex-start;
    background-color:#f08b33;
    padding: rem(14px) rem(25px);
    margin-left: rem(30px);
    border-radius: rem(10px);
    order: 1;
    &:hover {
      background-color: #e35028;
    }
    @include mobile {
      position: absolute;
      top: rem(-100px);
      left: rem(-50px);
    }
    &:hover .slider__composition-list {
      display: block;
    }
  }
  &__btn-img {
    align-self: flex-start;
  }
  &__btn-text {
    font-family: Gagalin;
    font-size: rem(14px);
    margin-top: rem(10px);
    color: #fff;
  }
  &__desc {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    height: 100%;
    flex: 1;
    @include tablets {
      text-align: center;
      align-items: center;
    }
  }
  &__arrow {
    display: block;
  }
  &__arrow-left {
    transform: rotate(90deg);
    width: rem(27px);
    height: rem(13px);
  }
  &__arrow-right {
    transform: rotate(180deg);
    width: rem(27px);
    height: rem(13px);
  }
  &__composition-list {
    cursor: auto;
    display: none;
    position: absolute;
    top: 0;
    left: rem(125px);
    width: rem(270px);
    padding: rem(20px);
    background-color: #ffffff;
    opacity: .9;
    border-radius: 5px;
    @include mobile {
      left: rem(95px);
    }
  }
  &__composition-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2f3234;
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }
  &__composition-icon {
    width: rem(45px);
    height: rem(35px);
  }
}