.team {
  height: 100vh;
  background: url('/img/team__bg.jpg') no-repeat center / cover;
  display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    width: 50%;
    background-color: #2f3234;
    opacity: 0.93;
    @include tablets {
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
  }
  &__title {
    color: #f9b43b;
    @include title-font;
    font-size: 72px;
    margin-bottom: 50px;
    @include tablets {
      align-self: center;
    }
  }
  &__accordeon {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      flex-direction: column;
      @include tablets {
        align-items: center;
      }
      position: relative;
      padding-left: 20px;
      &-active .team__accordeon-inner{
        height: auto;
        overflow: visible;
      }
      &-active .team__username{
        color: #f9b43b;
      }
      & + & {
        margin-top: 30px;
      }
    }
    &-inner {
      display: flex;
      padding-top: 15px;
      color: #ffffff;
      height: 0;
      overflow: hidden;
      @include tablets {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__username {
    @include title-font;
    color: #ffffff;
    font-size: rem(14px);
    position: relative;
    @include tablets {
      font-size: rem(25px);
    }
    &::before {
      content: "";
      position: absolute;
      background: url('/img/team__polygon.png') no-repeat;
      width: 9px;
      height: 7px;
      top: 50%;
      left: rem(-18px);
      margin-right: 10px;
      cursor: pointer;
    }
  }
  &__user-img {
    width: 100px;
    height: 100px;
    background: url('/img/team__user-img.jpg') no-repeat 60% center / cover;
    border: solid 0 transparent;
    border-radius: 50%;
    flex-shrink: 0;
    @include tablets {
      margin-bottom: rem(20px);
    }
  }
  &__desc {
    font-size: rem(14px);
    padding-left: 20px;
    @include tablets {
      text-align: center;
      padding: 0 rem(70px);
    }
    @include mobile {
      padding: 0;
    }
    &-title {
      margin-bottom: 20px;
    }
    &-txt {
      margin: 0;
    }
  }
}